.git
.DS_Store
.env
.env.*
README.md
README.en.md
assets/
releases/*.tar.gz
data/
logs/
runtime/

*
!agent/
!agent/dist/
!agent/dist/**
!server/
!server/Dockerfile
!server/dist/
!server/dist/**
!releases/
!releases/manifest.env
!releases/latest.json
!releases/changelog.json
!web/
!web/Dockerfile
!web/nginx.conf.template
!web/docker-entrypoint.d/
!web/docker-entrypoint.d/**
!web/dist/
!web/dist/**
